<% results_type = (defined?(@results_type) ? @results_type : t('search_results.results')) %>

  <% if defined?(@reset) && @reset %>
      <%= render partial: 'shared/search', locals: {:search_url => @base_search,
                                                    :title => t('archive._plural'),
                                                    :limit_options => [["#{t('actions.search')} #{t('search-limits.all')}",''],
                                                                       [t('search-limit', :limit => t('search-limits.resources')),'resource'],
                                                                       [t('search-limit', :limit => t('search-limits.digital')),'digital_object']],
                                                    :field_options => [["#{t('search_results.filter.fullrecord')}",''],
                                                                       ["#{t('search_results.filter.title')}",'title'],
                                                                       ["#{t('search_results.filter.creators')}",'creators_text'],
                                                                       ["#{t('search_results.filter.subjects')}",'subjects_text'],
                                                                       ["#{t('search_results.filter.notes')}", 'notes'],
                                                                       ["#{t('search_results.filter.identifier')}", 'identifier'] ],
                                                    :header_size => '1',
                                                    :show_header => true } %>
  <% else %>

  <% if defined?(@results) %>
    <% heading = defined?(@search_title) ? @search_title : results_type %>
    <h1><%= heading %></h1>
    <% @context ||= [{:crumb => heading }] %>
    <%= render partial: 'shared/breadcrumbs' %>
  <% end %>

  <% unless defined?(@no_statement) %>
    <div class="searchstatement">
      <div class="btn-group pull-right">
        <%= link_to I18n.t('actions.new_search'), (defined?(@new_search) ? @new_search : root_path), :class => "btn btn-sm btn-default" %>
        <button class="btn btn-sm btn-default" id="toggleRefineSearch" aria-expanded="false" aria-controls="refineSearchPanel"><%= I18n.t('actions.refine_search') %></button>
      </div>

      <% if defined?(@search) %>
        <%= @search[:search_statement].html_safe %>
      <% end %>

      <div id="refineSearchPanel" class="container refinesearch" aria-hidden="true" style="display:none;">
        <%= render partial: 'shared/search', locals: {:search_url => @base_search,
                                                      :title => t('archive._plural'),
                                                      :limit_options => [["#{t('actions.search')} #{t('search-limits.all')}",''],
                                                                         [t('search-limit', :limit => t('search-limits.resources')),'resource'],
                                                                         [t('search-limit', :limit => t('search-limits.digital')),'digital_object']],
                                                      :field_options => [["#{t('search_results.filter.fullrecord')}",''],
                                                                         ["#{t('search_results.filter.title')}",'title'],
                                                                         ["#{t('search_results.filter.creators')}",'creators_text'],
                                                                         ["#{t('search_results.filter.subjects')}",'subjects_text'],
                                                                         ["#{t('search_results.filter.notes')}", 'notes'],
                                                                         ["#{t('search_results.filter.identifier')}", 'identifier'] ],
                                                      :show_header => false } %>
      </div>
    </div>
  <% end %>
  <% end %>

<% if defined?(@results) %>
<div class="bgsu_common_sidebar">
  <div class="bgsu_common__flex_column">
    <a name="main" title="<%= t('internal_links.main') %>"></a>
    <%= render partial: 'shared/pagination', locals: {:pager  => @pager}  %>
    <div class="search-results bgsu_common__full"><div>

    <a name="searchresults" id="searchresults"></a>

    <% @results.records.each do |result| %>
      <%= render partial: 'shared/result', locals: {:result => result, :props => (@result_props || {}).merge({:full => false}), :header_size => 2} %>
    <% end %>
    </div></div>
    <%= render partial: 'shared/pagination', locals: {:pager  => @pager, :pager_id => 'paging_bottom'}  %>
  </div>
  <% facets = render partial: 'shared/facets' %>
  <% unless facets.strip.empty? %>
  <div class="bgsu_common_sidebar_left">
    <a name="filter" title="<%= t('internal_links.filter') %>"></a>
    <%= facets %>
  </div>
  <% end %>
</div>
<% end %>
