<%= javascript_include_tag 'largetree' %>
<%= javascript_include_tag 'tree_renderer' %>

<h2><%= heading_text %></h2>
<div class="infinite-tree-view largetree-container bgsu_common__sticky" id='tree-container'></div>

<script>
    var root_uri = '<%= app_prefix(root_node_uri) %>';
    var should_link_to_record = true;

    var scrollToHash = function() {
      var tree_id = TreeSync.prototype.tree_id_from_hash() ||
        TreeIds.uri_to_tree_id('<%= current_node_uri %>');
      tree.setCurrentNode(tree_id, function() {
        // scroll to selected node
        tree.elt.scrollTo('#'+tree_id, 0, {offset: -50});
      });
    };

    <% if defined?(infinite) && infinite %>
    should_link_to_record = false;
    window.addEventListener('hashchange', scrollToHash);
    <% end %>

    var tree = new LargeTree(new TreeDataSource(root_uri + '/tree'),
        $('#tree-container'),
        root_uri,
        true,
        new SimpleRenderer(should_link_to_record),
        scrollToHash,
        function(current_node, tree) {
          tree.expandNode(current_node);
        });
</script>
