<% if dig_objs.length > 0 %>
  <div class="bgsu_common_records bgsu_common_records__card">
    <% dig_objs.each do |d_file| %>
      <a class="bgsu_common_records_item"<% if !d_file['out'].blank? %> href="<%= d_file['out'] %>" target="_blank"<% end %>>
      <div class="bgsu_common_records_item_image">
        <% if d_file['thumb'].blank? %>
          <i class="fa <%= {
            '(moving_image)' => 'fa-file-video-o' ,
            '(sound_recording)' => 'fa-file-audio-o',
            '(sound_recording_musical)' => 'fa-file-audio-o',
            '(sound_recording_nonmusical)' => 'fa-file-audio-o' ,
            '(still_image)' => 'fa-file-image-o' ,
            '(text)' =>  'fa-file-text-o'
          }.fetch( d_file['material'], 'fa-file-o' ) %> fa-4x"></i>
        <% else %>
          <img src="<%= d_file['thumb'] %>" alt="">
        <% end %>
      </div>
      <h4 class="bgsu_common_records_item_title">
      <% if d_file['caption'].blank? %>
        <%= t('enumerations.instance_instance_type.digital_object') %>
        <%= d_file['material'] %>
      <% else %>
        <%= d_file['caption'].html_safe %>
      <% end %>
      </h4>
      </a>
    <% end %>
  </div>
<% end %>
