<% pager_id ||= 'paging' %>
<% prefix = app_prefix(pager.link) + (pager.link.include?('?') ? '&' : '?') %>
<% if (pager && pager.pages.last > 1) || defined?(@paging) || defined?(@results) %>
<div id="<%= pager_id %>">
  <nav class="bgsu_common_pagination" aria-label="pagination">
    <div class="bgsu_common_pagination_buttons">
      <% if pager %>
        <a class="bgsu_common_button bgsu_common_button__small bgsu_common__arrow_first"<% if pager.page > 1 %> href="<%= prefix %>page=1"<% end %>>First</a>
        <a class="bgsu_common_button bgsu_common_button__small bgsu_common__arrow_previous"<% if pager.page > 1 %> href="<%= prefix %>page=<%= pager.prev %>"<% end %>>Previous</a>
        <a class="bgsu_common_button bgsu_common_button__small bgsu_common__arrow_next"<% if pager.page < pager.last_page %> href="<%= prefix %>page=<%= pager.next %>"<% end %>>Next</a>
        <a class="bgsu_common_button bgsu_common_button__small bgsu_common__arrow_last"<% if pager.page < pager.last_page %> href="<%= prefix %>page=<%= pager.last_page %>"<% end %>>Last</a>
      <% end %>
    </div>
    <div class="bgsu_common_pagination_current" aria-current="page">
      <% if defined?(@paging) %>
        <%= defined?(@results_type) ? @results_type : t('search_results.results') %>
        <span class="bgsu_common__nowrap">
          <%= number_with_delimiter(@paging['offset_first']) %> &ndash;
          <%= number_with_delimiter(@paging['offset_last']) %> of
          <%= number_with_delimiter(@paging['total_hits']) %>
        </span>
      <% elsif defined?(@results) %>
        <%= defined?(@results_type) ? @results_type : t('search_results.results') %>
        <span class="bgsu_common__nowrap">
          <%= number_with_delimiter(@results['offset_first']) %> &ndash;
          <%= number_with_delimiter(@results['offset_last']) %> of
          <%= number_with_delimiter(@results['total_hits']) %>
        </span>
      <% end %>
    </div>
      <% if pager_id == 'paging' %>
      <%= render partial: 'shared/sorter' %>
      <% end %>
  </nav>
</div>
<% end %>
