<a name="main" title="<%= t('internal_links.main') %>"></a>

<div id="main-content" class="row">
  <div class="information col-sm-7">
      <%= render partial: 'shared/idbadge', locals: {:result => @result, :props => { :full => true} } %>
  </div>
  <div class="page_actions col-sm-5 right">
    <%= render partial: 'shared/page_actions', locals: {:record => @result, :title =>  @result.display_string, :url => request.fullpath, :cite => @result.cite } %>
  </div>
</div>

<%= javascript_include_tag "#{@base_url}/assets/resizable_sidebar_left.js" %>
<%= stylesheet_link_tag "#{@base_url}/assets/resizable_sidebar_left.css" %>

<div class="row">
  <div class="col-sm-9">
    <%= render partial: 'resources/resource_alltabs' %>
    <h2><%= t('actions.digitized') %></h2>
    <%= render partial: 'shared/results', locals: {:results => @results, :pager => @pager} %>
  </div>
  <div id="sidebar" class="col-sm-3 sidebar sidebar-container resizable-sidebar">
   <% unless @results.blank? || @results['total_hits'] == 0 || @facets.blank? %>
    <%= render partial: 'shared/facets' %>
   <% end %>
   <%= render partial: 'shared/search_collection_form', :locals => {:resource_uri => @result['uri'], :action_text => "#{t('actions.search_in', :type => t('resource._singular'))}"} %>
   <%= render partial: 'shared/children_tree', :locals => {:heading_text => t('cont_arr'), :root_node_uri => @result.uri, :current_node_uri => @result.uri} %>
  </div>
</div>

<%= render partial: 'shared/modal_actions' %>
