<% uri = @result.uri %>
<a name="main" title="<%= t('internal_links.main') %>"></a>

<div id="main-content" class="row">
  <div class="information col-sm-7">
    <%= render partial: 'shared/idbadge', locals: {:result => @result, :props => { :full => true} } %>
  </div>
  <div class="page_actions col-sm-5 right">
    <%= render partial: 'shared/page_actions', locals: {:record => @result, :title =>  @result.display_string, :url => request.fullpath, :cite => @result.cite } %>
  </div>
</div>
<%= render partial: 'shared/modal_actions' %>

<%= javascript_include_tag 'treesync' %>
<%= javascript_include_tag "#{@base_url}/assets/resizable_sidebar_left.js?v=20231116" %>
<%= stylesheet_link_tag "#{@base_url}/assets/resizable_sidebar_left.css?v=20231116" %>

<% @has_digital_objects = false %>
<div class="row">
  <div class="infinite-record-wrapper col-sm-9">
      <div class="infinite-record-container">
          <%= render partial: 'resources/resource_alltabs' %>
          <h2><%= t('actions.hierarch') %></h2>
          <% if @paging['last_page'] > 1 %>
          <%= render partial: 'shared/pagination', locals: {:pager  => @pager}  %>
          <% end %>
          <div class="root">
              <% @results.records.each do |record| %>
                  <div class="infinite-record-record">
                    <% @result = record %>
                    <%= render partial: 'infinite_item' %>
                  </div>
              <% end %>
          </div>
          <% if @paging['last_page'] > 1 %>
          <%= render partial: 'shared/pagination', locals: {:pager  => @pager, :pager_id => 'paging_bottom'}  %>
          <% end %>
      </div>
  </div>

  <div id="sidebar" class="sidebar sidebar-container col-sm-3 resizable-sidebar infinite-tree-sidebar">
  <% if AppConfig[:pui_search_collection_from_collection_organization] %>
    <%= render partial: 'shared/search_collection_form', :locals => {:resource_uri => uri, :action_text => t('actions.search_in', :type => t('resource._singular'))} %>
  <% end %>
  <%= render partial: 'shared/children_tree', :locals => {:heading_text => t('cont_arr'), :root_node_uri => uri, :current_node_uri => uri} %>
  </div>
</div>

<script>
window.addEventListener('hashchange', function() {
  var tree_id = tree_id_from_hash();

  if (tree_id) {
    tree.setCurrentNode(tree_id);
  }
});

$('.note-content').each(function () {
  $(this).readmore(160);
  });
</script>
