<a name="main" title="<%= t('internal_links.main') %>"></a>

<div id="main-content" class="infinite">
<div id="info_row">
  <div class="information">
    <%= render partial: 'shared/idbadge', locals: {:result => @result, :props => { :full => true} } %>
    <%= render partial: 'shared/breadcrumbs' %>
  </div>
  <div class="page_actions right">
    <%= render partial: 'shared/page_actions', locals: {:record => @result, :title =>  @result.display_string, :url => request.fullpath, :cite => @result.cite } %>
  </div>
</div>

<%= javascript_include_tag 'treesync' %>
<%= javascript_include_tag "#{@base_url}/assets/resizable_sidebar_left.js" %>

<div class="row">
  <div id="sidebar" class="col-sm-3 resizable-sidebar">
  <% if AppConfig[:pui_search_collection_from_collection_organization] %>
    <%= render partial: 'shared/search_collection_form', :locals => {:resource_uri => @result['uri'], :action_text => t('actions.search_in', :type => t('resource._singular'))} %>
  <% end %>
  <%= render partial: 'shared/children_tree', :locals => {:heading_text => t('cont_arr'), :root_node_uri => @result.uri, :current_node_uri => @result.uri} %>
  </div>

  <div class="col-sm-9">
      <div>
          <%= render partial: 'resources/resource_alltabs' %>
          <h2><%= t('actions.hierarch') %></h2>
          <% if @paging['last_page'] > 1 %>
          <%= render partial: 'shared/pagination', locals: {:pager  => @pager}  %>
          <% end %>
          <div class="root">
              <% @results.records.each do |record| %>
                  <div class="infinite-record-record">
                    <% @result = record %>
                    <%= render partial: 'infinite_item' %>
                  </div>
              <% end %>
          </div>
          <% if @paging['last_page'] > 1 %>
          <%= render partial: 'shared/pagination', locals: {:pager  => @pager, :pager_id => 'paging_bottom'}  %>
          <% end %>
      </div>
  </div>
</div>

<script>
window.addEventListener('hashchange', function() {
  var tree_id = tree_id_from_hash();

  if (tree_id) {
    tree.setCurrentNode(tree_id);
  }
});

$('.note-content').each(function () {
  $(this).readmore(160);
});
</script>
<%= render partial: 'shared/modal_actions' %>
