<% @has_digital_objects = false %>
<a name="main" title="<%= t('internal_links.main') %>"></a>

<div id="main-content" class="row">
  <div id="info_row" class="col-12">
    <div class="d-flex flex-column flex-md-row">
      <div class="information flex-grow-1">
    <%= render partial: 'shared/idbadge', locals: {:result => @result, :props => { :full => true} } %>
      </div>
      <div class="page_actions">
    <%= render partial: 'shared/page_actions', locals: {:record => @result, :title =>  @result.display_string, :url => request.fullpath, :cite => @result.cite } %>
      </div>
    </div>
  </div>
</div>

<%
  sidebar_position = AppConfig[:pui_collection_org_sidebar_position]
  records_waypoint_size = Rails.configuration.infinite_records_waypoint_size
  num_records = @ordered_records.count
%>

<div class="row">
  <div
    id="sidebar"
    class="sidebar sidebar-container col-12 col-lg-3 resizable-sidebar <%= sidebar_position == 'left' ? 'resizable-sidebar-left' : 'order-1' %> infinite-tree-sidebar"
    data-sidebar-position="<%= sidebar_position %>"
  >
    <% if AppConfig[:pui_search_collection_from_collection_organization] %>
      <%= render partial: 'shared/search_collection_form', :locals => {:resource_uri => @result['uri'], :action_text => t('actions.search_in', :type => t('resource._singular'))} %>
    <% end %>

    <%= render partial: 'shared/children_tree', :locals => {:heading_text => t('cont_arr'), :root_node_uri => @result.uri, :current_node_uri => @result.uri, :infinite => true} %>
  </div>
  <div class="col-12 col-lg-9 resizable-content-pane">
    <%= render partial: 'resources/resource_alltabs' %>
    <h2><%= t('actions.hierarch') %></h2>
    <div>
  <%= render partial: 'resources/infinite_records', locals: {
    num_records: num_records,
    records_waypoint_size: records_waypoint_size
  } %>
    </div>
  </div>
</div>

<%= render partial: 'resources/infinite_load_all', locals: {num_records: num_records} %>

<script>
const resourceUri = '<%= @result["uri"] %>';
const appUrlPrefix = '<%= AppConfig[:public_proxy_url] %>';
const workerPath = '<%= asset_path('infiniteRecordsWorker.js') %>';
const mainMaxFetches = <%= Rails.configuration.infinite_records_main_max_concurrent_waypoint_fetches %>;
const workerMaxFetches = <%= Rails.configuration.infinite_records_worker_max_concurrent_waypoint_fetches %>;

const infiniteRecords = new InfiniteRecords(
  resourceUri,
  appUrlPrefix,
  workerPath,
  mainMaxFetches,
  workerMaxFetches
);

infiniteRecords.populateAllWaypoints();

  document.querySelectorAll("[data-js='readmore']").forEach((el) => {
    new ReadMoreNotes(el);
  });
</script>

<%= render partial: 'shared/modal_actions' %>
