<% @has_digital_objects = false %>
<a name="main" title="<%= t('internal_links.main') %>"></a>

<div id="main-content" class="row">
  <div id="info_row" class="col-12">
    <div class="d-flex flex-column flex-md-row">
      <div class="information flex-grow-1">
      <%= render partial: 'shared/idbadge', locals: {:result => @result, :props => { :full => true} } %>
      </div>
      <div class="page_actions">
    <%= render partial: 'shared/page_actions', locals: {:record => @result, :title =>  @result.display_string, :url => request.fullpath, :cite => @result.cite } %>
      </div>
    </div>
  </div>
</div>

<% sidebar_position = AppConfig[:pui_collection_org_sidebar_position] %>

<div class="row">
  <div
    id="sidebar"
    class="sidebar sidebar-container col-12 col-lg-3 resizable-sidebar <%= sidebar_position == 'left' ? 'resizable-sidebar-left' : 'order-1' %> infinite-tree-sidebar"
    data-sidebar-position="<%= sidebar_position %>"
  >
   <% unless @results.blank? || @results['total_hits'] == 0 || @facets.blank? %>
    <%= render partial: 'shared/facets' %>
   <% end %>
   <%= render partial: 'shared/search_collection_form', :locals => {:resource_uri => @result['uri'], :action_text => "#{t('actions.search_in', :type => t('resource._singular'))}"} %>
   <%= render partial: 'shared/children_tree', :locals => {:heading_text => t('cont_arr'), :root_node_uri => @result.uri, :current_node_uri => @result.uri} %>
  </div>
  <div class="col-12 col-lg-9 resizable-content-pane">
    <%= render partial: 'resources/resource_alltabs' %>
    <h2><%= t('actions.numeric') %></h2>
    <%= render partial: 'shared/results', locals: {:results => @results, :pager => @pager} %>
  </div>
</div>

<%= render partial: 'shared/modal_actions' %>
