<div id="main-content">
  <div id="info_row">
    <div class="information">
      <%= render partial: 'shared/idbadge', locals: {:result => @result, :props => { :full => true} } %>
      <%= render partial: 'shared/breadcrumbs' %>
    </div>
    <div class="page_actions right">
      <%= render partial: 'shared/page_actions', locals: {:record => @result, :title => @result.display_string, :url => request.fullpath } %>
    </div>
  </div>
    <% if @result['json']['scope_note'].present? %>
      <span class="inline-label"><%= t('scope_note') %>:</span> <%= process_mixed_content( @result['json']['scope_note']).html_safe %>
    <% end %>
    <%# FOUND IN SECTION %>
    <%= render partial: 'shared/results', locals: {:results => @results, :pager => @pager} %>
   </div>
  <div class="sidebar-left">
     <%= render partial: 'shared/facets' %>
        <h2 class="sidebar-title"><%= t('enumeration_names.subject_source') %></h2>
        <p><%= t("enumerations.subject_source.#{@result['json']['source']}" ) %></p>
        <% if !(terms = ASUtils.wrap(@result['json']['terms'])).empty? %>
          <h2 class="sidebar-title"><%= t('subject_term_type') %></h2>
          <div id="subject_terms">
          <%= render partial: 'subjects/terms', locals: {:terms =>  terms, :list_clss => 'terms'} %>
          </div>
        <% end %>
        <% unless @result.external_documents.blank? %>
          <h2 class="sidebar-title"><%= t('external_docs') %></h2>
          <div id="ext_doc_list">
          <%= render partial: 'shared/present_list_external_docs', locals: {:list =>  @result.external_documents, :list_clss => 'external_docs'} %>
          </div>
        <% end %>
  </div>
</div>
</div>
