<% if info["top"]["description"].present? %>
<div class="description">
  <%= simple_format(info["top"]["description"]) %>
</div>
<% end %>

<% unless info.blank?  %>
<% lead =  t("repos.#{info['top']['repo_code'].downcase}.lead_graph", default: '') %>
<% unless lead.blank? %>
<div id="lead_graph"><%= lead.html_safe %></div>
<% end %>

<div class='contact_info'>
  <h2><%= t('contact') %></h2>

<% if url && url!= "http://url.unspecified" %>
<div class="website">
  <strong><a href="<%= url %>"><%= info['top']['name'] %></a></strong>
</div>
<% else %>
<strong><%= info['top']['name'] %></strong>
<% end %>

<% if info["address"].present? %>
  <span class="street">
    <%= info["address"].join("<br>").html_safe %>
    <br>
  </span>
<% end %>

<% %w{city region post_code country}.each do |type|
   if info[type].present? %>
     <span class="<%= type %>"><%= info[type] %></span>
   <% end %>
<% end %>

<% if info["telephones"].present? %>
   <% info["telephones"].each do |phone| %>
   <div class="telephone">
     <% if !phone['number'].blank? %>
       <% if !phone['number_type'].blank? && phone['number_type'].strip.upcase == 'FAX' %>
       <i class="fa fa-fw fa-fax"  aria-hidden="true"></i> <%= phone['number'] %> (<%= t('fax') %>)
       <% else %>
       <i class="fa fa-fw fa-phone" aria-hidden="true"></i> <%= phone['number'] %>
       <% end %>
     <% end %>
   </div>
   <% end %>
<% end %>

<% if info["email"].present? %>
<div class="email"><i class="fa fa-fw fa-envelope" aria-hidden="true"></i> <a href="mailto:<%= info['email'] %>" title="<%= t('email') %>"><%= info['email'] %></a></div>
<% end %>

</div>
<% end %>
