<% if !full %>
   <div class="recordrow">
<% end %>

<%= (full ? '<h1>' : '<h2>').html_safe %>
	<% url = full && result['url'] && result['url'] != "http://url.unspecified" ? result['url'] : app_prefix(repository_base_url(result)) %>
	<% if result.has_key?('image_url') %>
		<%= link_to image_tag(result['image_url'], :alt => "#{t('repository._singular')}: #{result['name']}"), url, {:class => 'repository-logo'} %>
	<% else %>
<% if !full %><a class="record-title" href="<%= url %>"><% end %><%= result['name']%>
<% if !full %></a><% end %>
	<% end %>
<%= (full ? '</h1>' : '</h2>').html_safe %>

      <div class="badge-and-identifier">
        <div class="record-type-badge repository">
          <i class="fa fa-fw fa-home"></i><%= t('repository._singular') %>
        </div>

	<div class="<%= (full ? 'clear' : 'recordsummary') %>">
	  <% if result['parent_institution_name'].present? %>
	  <div><strong><%= t('parent_inst') %>:</strong>
	    <%= result['parent_institution_name'] %>
	  </div>
	  <% end %>
	  <% if full %>
	  <%= render partial: 'repositories/full_repo', locals: {:info => result['repo_info'], :url => result['url']} %>
	 <% else %>
	 <div><strong>Number of <%= t('resource._plural') %>:</strong> <%= result['count'] %></div>
	 <% end %>
	</div>
      </div>
<% if !full %>
   </div>
<% end %>
